input{
    max-width: 400px;
    width: 97%;
    font-size: 20px;
    padding: 2px;
    border-radius: 4px 0px 0px 4px;
    display: block;
}

form {
    display: flex;
    justify-content:center;
}

button{
    background: white;
    padding-left: 3px;
    padding-right: 3px;
}